
    body {
        background-image: url(marble.jpeg);
}
.container{
    background-color: white; 
    padding: 25px; 
    border:1px solid grey; 
    font-size: 40px;
    margin-top: 80px;
    background-color: white; 
    width:850px; 
    padding-bottom: 100px;
     margin-left: 340px;
     border: 2px aqua solid;
}


h1{
    color:aqua;
}

#profile{
    width: 300px;height: 300px;

}

p{
    font-size: 20px;
    margin-left: -70px;
}

/*This is where profile.html styling begins*/

.containerp{
    background-color: white; padding: 25px; border:1px solid grey; font-size: 40px;margin-top: 80px; background-color: white; width:80%; height: 80%; padding-bottom: 200px; margin-left:110px; padding-right: 30px;
    border: 2px pink solid;
}

.profile{
    color: purple;
}
h1{
    text-align: center;
    font-size: 52px;
}

.portfoliopic{
margin-bottom: 20px;
margin-left:10px;
margin-bottom: 150px;
width: 350px;
height: 350px;
border: 4px purple solid;

}
#p1{
    margin-top: 10px;
}
#p2{
    margin-top: 10px;
    margin-left: 10px;
}
#p3{
    margin-left: 20px;
    margin-top: 10px;
}
#p4{
    margin-top: 10px;
}
#p5{
    margin-left: 30px;
    margin-top: 10px;
}

#p6{
    margin-left: 10px;
    margin-top: 10px;
}
#p7{
    margin-left: 30px;
    margin-top: 10px;
}
a{
    display: inline;
    margin-left: 100px;
    margin-top: 10px;

}

#hrp{
    border-top: 1px solid pink;
}
#hrh{
    border-top: 1px solid darkgray;
}
#hrc{
    border-top: 1px solid yellow;
}
        .f1    {
                text-align:center; padding: 15px; border: 4px solid aqua; margin-top: 100px; background-color: aqua; color: white;
            }
            #foot1{
                text-align: center;
                margin-left: 10px;
            }
            #foot2{
                text-align: center;
                margin-left: 10px;
            } 
            #foot3{
                text-align: center;
                margin-left: 10px;
            }
            
            .f2{
                text-align:center; padding: 15px; border: 4px solid; margin-top: 100px; background-color: pink; color:purple;
            }

            /*This is where stying for contact html begins*/

            .containerc{
                background-color: white; padding: 25px; border:1px solid grey; font-size: 40px;margin-top: 80px;background-color: white; width:850px; padding-bottom: 30px; margin-left:280px;
            border: 2px yellow solid;
            }

            .contactbox{
                    color: yellowgreen;
            }
            .Name{
                border: 1px solid grey;font-size:16px;padding: 10px; padding-right:555px; color: lightgrey; margin-left: 15px;padding-bottom: 10px;
            }
            .col-md-12{
                font-size: 22px;
                padding-bottom: 10px;
                margin-top: 10px;
            }
            .col-lg-12{
                padding-left: 30px;
                font-size: 22px;
                padding-bottom: 10px;
                margin-top: 10px;
            }
            
            .Email{
                border: 1px solid grey;font-size:16px;padding: 10px; padding-right:555px; color: lightgrey; margin-left: 15px;padding-bottom: 10px;
            }
            
        
            .Message{
                border: 1px solid grey;font-size:16px;padding: 10px; padding-right:555px; color: lightgrey; margin-left: 28px;padding-bottom: 100px; margin-top: 10px; font-size: 22px;
            }

            .f3{
                text-align:center; padding: 15px; border: 4px solid; margin-top: 100px; background-color: yellow; color:black;
            }

            #submit{
                border: 1px solid grey; font-size: 20px; padding:20px; padding-right:20px; padding-top:10px; background-color: yellowgreen; text-align: center; margin-top:10px; margin-left:10px;
            }

           @media screen and (max-width: 628px) {
                body {
                  background: #333;}
           }