
    body {
        background-image: url(marble.jpeg);
}


.card{
    border: 3px solid aqua;
    margin-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
     
}

#aboutme{
    margin-left: 150px;
    margin-right: 20px;
    

}
#Education{
margin-left: 800px;
margin-top: -470px;
margin-right: 20px;


}
#skills{
    margin-left: 150px;
    overflow: scroll; 
   height: 350px;
}

#contactinfo{
    margin-left: 800px;
    margin-top: -350px;
}
h1{
    color:aqua;
    border: 2px solid lightgray;
    background-color: lightgray;
    padding: 20px;
    width: 50%;
    margin-left: 300px;
    margin-top: 20px;
}

#profile{
    width: 300px;height: 300px;

}

p{
    font-size: 20px;
    margin-left: -50px;
}
#educationpic{
    width: 10%;
    margin-left: 160px;
    margin-top: 30px;
}
#educationpic2{
    width: 10%;
   
    
}
#aboutmepic{
    width: 20%;
    margin-left: 120px;
    margin-top: 10px;
}

/*This is where profile.html styling begins*/

.containerp{
    background-color: white; padding: 25px; border:1px solid grey; font-size: 40px;margin-top: 80px; background-color: white; width:80%; height: 80%; padding-bottom: 200px; margin-left:110px; padding-right: 30px;
    border: 2px coral solid;
}

.profile{
    color: coral;
    border: white;
    background-color: white;
    margin-left: 200px;
}
h1{
    text-align: center;
    font-size: 52px;
}

.portfoliopic{
margin-bottom: 20px;
margin-left:10px;
margin-bottom: 150px;
width: 350px;
height: 350px;
border: 4px coral solid;

}
#p1{
    margin-top: 10px;
}
#p2{
    margin-top: 10px;
    margin-left: 10px;
}
#p3{
    margin-left: 20px;
    margin-top: 10px;
}
#p4{
    margin-top: 10px;
}
#p5{
    margin-left: 30px;
    margin-top: 10px;
}

#p6{
    margin-left: 10px;
    margin-top: 10px;
}
#p7{
    margin-left: 30px;
    margin-top: 10px;
}
#p8{
    margin-left: 30px;
    margin-top: 10px;
}
#p9{
    margin-left: 30px;
    margin-top: 10px;  
}
a{
    display: inline;
   
    margin-top: 20px;

}
.label{
    margin-left: 90px;
}

#hrp{
    border-top: 1px solid coral;
}
#hrh{
    border-top: 1px solid darkgray;
}
#hrc{
    border-top: 1px solid yellow;
}
        .f1    {
                text-align:center; padding: 15px; border: 4px solid aqua; margin-top: 150px; background-color: aqua; color: white;
            }
            #foot1{
                text-align: center;
                margin-left: 10px;
            }
            #foot2{
                text-align: center;
                margin-left: 10px;
            } 
            #foot3{
                text-align: center;
                margin-left: 10px;
            }
            
            .f2{
                text-align:center; padding: 15px; border: 4px solid; margin-top: 100px; background-color: pink; color:purple;
            }

            /*This is where stying for contact html begins*/

            .containerc{
                background-color: white; padding: 25px; border:1px solid grey; font-size: 40px;margin-top: 80px;background-color: white; width:650px; padding-bottom: 30px; margin-left:380px;
            border: 2px yellow solid;
            }

            .contactbox{
                    color: yellowgreen;
                    margin-left: 120px;
                    background-color: white;
                    border:white
            }
            
            .col-md-12{
                font-size: 22px;
                padding-bottom: 10px;
                margin-top: 10px;
                margin-left: 20px;
            }
            .col-lg-12{
                padding-left: 30px;
                font-size: 22px;
                margin-top: 10px;
            }
            input{
                margin-left: 100px;
                padding-right: 200px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            #Message{
                padding-bottom: 60px;
            }
            

            .f3{
                text-align:center; padding: 15px; border: 4px solid; margin-top: 100px; background-color: yellow; color:black;
            }

            #submit{
                border: 1px solid grey; font-size: 20px; padding:20px; padding-right:20px; padding-top:10px; background-color: yellowgreen; text-align: center; margin-top:10px; margin-left:240px;
            }

           @media screen and (max-width: 628px) {
                body {
                  background: #333;}
           }